<%- include("./partials/header")%>


<div id="particles-js">
<div id="hero">
    <h1 >Play lots of video games?</h1>
    <h3 >Join our 500 other users today</h3>
    <a class="btn btn-primary" href="/register"> Sign Up</a>
    </div>
</div>



<div id="featureSection">
<div id="features">

    <div class="feature"><i class="fas fa-keyboard"></i><span>Write reviews and celebrate your favorite (and not so favorite) games </span></div>
     <div class="feature"><i class="fas fa-star"></i> <span>Rate all the games you play and get new suggestions based on your favorites</span></div>
  <div class="feature"><i class="far fa-list-alt"></i>  <span>Keep track of your backlog. Create wishlists for upcoming games or games you haven't played yet</span> </div>

  <div class="feature"><i class="fas fa-user-friends"></i><span>Follow other users and see their ratings and what they are playing </span></div>



</div>

</div>

<%- include("./partials/footer")%>