/* particle js */
/* ---- reset ---- */

body,
html {
  margin: 0 0 100px;
  clear: both;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #1f2237;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* navbar */
nav {
  height: 100px;
  background-color: #f8f9fa;
}

a,
a:hover {
  text-decoration: none;
}

#projectName {
  font-size: 36px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-left: 25px;
  margin-top: -5px;
}

#projectName:hover,
#projectName:active {
  transform: scale(1.1);
}

*:focus {
  outline: none;
}

#searchInput {
  width: 400px;
}

#userButtons {
  float: right;
  list-style: none;
}

#userButtons:last-child {
  margin-right: 10px;
}

#userButtons li {
  display: inline-block;
  margin-left: 40px;
}

#userButtons li a:link,
#userButtons li a:visited {
  font-size: 130%;
  padding-bottom: 8px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#userButtons li a:hover,
#userButtons li a:active {
  border-bottom: 2px solid #000;
}

/* footer */

footer {
  background-color: #f8f9fa;
  padding: 20px;
  font-size: 110%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerNav {
  list-style: none;
  float: left;
}

.footerSocials {
  list-style: none;
  float: right;
}

.footerNav li,
.footerSocials li {
  display: inline-block;
  margin-right: 20px;
}

.footerNav li:last-child,
.footerSocials li:last-child {
  margin-right: 0;
}

.footerNav li a:link,
.footerNav li a:visited,
.footerSocials li a:link,
.footerSocials li a:visited {
  text-decoration: none;
  color: #888;
  transition: color 0.2s;
}

.footerNav li a:hover,
.footerNav li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}

/* Hero */

#hero {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

#hero h1 {
  font-size: 80px;
  font-weight: 700;
}

#hero h3 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px auto;
}

#hero a {
  font-size: 32px;
  padding: 10px 40px;
  margin-top: 20px;
}

/* Features */

#featureSection {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #1f2237;
}

.feature {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

#features i {
  font-size: 2.5rem;
  margin-right: 50px;
}

#features span {
  font-size: 1.5rem;
}

.feature:first-child {
  margin-top: 60px;
}